Lib
Scripts
Include
pyvenv.cfg
.idea/*
.idea/
.idea
**/.idea/*
.DS_Store
**/venv/*
**/__pycache__/*
db.sqlite3
*.env
**/*.env
**/*dev.inspire.passphrase.txt
**/InspireWeb/static/js/config.js
**/*.env
**/*.pem
**/*.key
**/*.csr
**/app/.cache/**
app/.bash_history
app/*
/static/
general.log